{% extends 'auth/layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forgot_password') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('forgot_password') }}
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
    <section class="vh-100 bg-primary bg-gradient">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-light text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-4">
                                <h2 class="fw-bold mb-4 text-uppercase text-primary d-flex justify-content-center align-items-center">
                                    <img src="{{ asset('build/images/logo.png') }}" width="64" height="64"
                                         alt="Expennies Logo" /> Forgot Password
                                </h2>
                                <div class="forgot-password-form">
                                    <div class="form-outline mb-4">
                                        <input type="email" name="email" class="form-control form-control-lg"
                                               placeholder="Enter your email address" required />
                                    </div>
                                    <button class="btn btn-primary bg-gradient text-white btn-lg px-5 forgot-password-btn"
                                            type="button">
                                        Continue
                                    </button>
                                </div>
                            </div>
                            <div>
                                <p class="mb-0 text-dark">
                                    Back to <a href="/login" class="text-primary fw-bold">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
