{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="top-container mb-4 row g-0 rounded-4">
            <div class="col-8 border-end border-3">
                <div class="row text-center">
                    <div class="col p-4 pb-0 fs-1">{{ "now" | date('M, Y') }}</div>
                </div>
                <div class="row justify-content-between text-center">
                    <div class="col p-4 pb-0 fs-2">
                        <div>Expense</div>
                        <div class="fw-bold text-danger">${{ totals.expense | number_format(2) }}</span></div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Income</div>
                        <div class="fw-bold text-success">${{ totals.income | number_format(2) }}</div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Net</div>
                        <div class="fw-bold {{ totals.net >= 0 ? 'text-success' : 'text-danger' }}">
                            ${{ totals.net | number_format(2) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-4">
                        <div class="fs-1 text-center mb-2">{{ "now" | date('Y') }} Summary</div>
                        <canvas id="yearToDateChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col p-4">
                <h4>Recent Transactions</h4>
                <table class="table">
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.description[0:20] }}</td>
                                <td class="{{ transaction.amount > 0 ? 'text-success fw-bold' : '' }}">
                                    {{ transaction.amount < 0 ? '-' : '' }}${{ transaction.amount | abs | number_format(2) }}
                                </td>
                                <td>
                                    <div>{{ transaction.category ? transaction.category.name : 'N/A' }}</div>
                                    <div>{{ transaction.date | date('m/d/Y') }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="categories-container row">
            {% for spendingCategory in topSpendingCategories %}
                <div class="col">
                    <div class="category-card p-4 text-center d-flex align-items-center justify-content-center">
                        <div>
                            <h6 class="fs-6 fw-normal">{{ spendingCategory.name }}</h6>
                            <h1 class="fs-1 text-danger text-opacity-75">${{ spendingCategory.total }}</h1>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
